In [2]:
import pandas as pd
df= pd.read_csv('customer_shopping_behavior.csv')

In [3]:
df.head()

,Customer ID,Age,Gender,Item Purchased,Category,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,Subscription Status,Shipping Type,Discount Applied,Promo Code Used,Previous Purchases,Payment Method,Frequency of Purchases
0,1,55,Male,Blouse,Clothing,53,Kentucky,L,Gray,Winter,3.1,Yes,Express,Yes,Yes,14,Venmo,Fortnightly
1,2,19,Male,Sweater,Clothing,64,Maine,L,Maroon,Winter,3.1,Yes,Express,Yes,Yes,2,Cash,Fortnightly
2,3,50,Male,Jeans,Clothing,73,Massachusetts,S,Maroon,Spring,3.1,Yes,Free Shipping,Yes,Yes,23,Credit Card,Weekly
3,4,21,Male,Sandals,Footwear,90,Rhode Island,M,Maroon,Spring,3.5,Yes,Next Day Air,Yes,Yes,49,PayPal,Weekly
4,5,45,Male,Blouse,Clothing,49,Oregon,M,Turquoise,Spring,2.7,Yes,Free Shipping,Yes,Yes,31,PayPal,Annually

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3900 entries, 0 to 3899
Data columns (total 18 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Customer ID             3900 non-null   int64
 1   Age                     3900 non-null   int64
 2   Gender                  3900 non-null   object
 3   Item Purchased          3900 non-null   object
 4   Category                3900 non-null   object
 5   Purchase Amount (USD)   3900 non-null   int64
 6   Location                3900 non-null   object
 7   Size                    3900 non-null   object
 8   Color                   3900 non-null   object
 9   Season                  3900 non-null   object
 10  Review Rating           3863 non-null   float64
 11  Subscription Status     3900 non-null   object
 12  Shipping Type           3900 non-null   object
 13  Discount Applied        3900 non-null   object
 14  Promo Code Used         3900 non-null   object
 15  Previous Purchases      3900 non-null   int64
 16  Payment Method          3900 non-null   object
 17  Frequency of Purchases  3900 non-null   object
dtypes: float64(1), int64(4), object(13)
memory usage: 548.6+ KB

In [5]:
df.describe()

,Customer ID,Age,Purchase Amount (USD),Review Rating,Previous Purchases
count,3900.000000,3900.000000,3900.000000,3863.000000,3900.000000
mean,1950.500000,44.068462,59.764359,3.750065,25.351538
std,1125.977353,15.207589,23.685392,0.716983,14.447125
min,1.000000,18.000000,20.000000,2.500000,1.000000
25%,975.750000,31.000000,39.000000,3.100000,13.000000
50%,1950.500000,44.000000,60.000000,3.800000,25.000000
75%,2925.250000,57.000000,81.000000,4.400000,38.000000
max,3900.000000,70.000000,100.000000,5.000000,50.000000

In [6]:
df.describe(include='all')

,Customer ID,Age,Gender,Item Purchased,Category,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,Subscription Status,Shipping Type,Discount Applied,Promo Code Used,Previous Purchases,Payment Method,Frequency of Purchases
count,3900.000000,3900.000000,3900,3900,3900,3900.000000,3900,3900,3900,3900,3863.000000,3900,3900,3900,3900,3900.000000,3900,3900
unique,NaN,NaN,2,25,4,NaN,50,4,25,4,NaN,2,6,2,2,NaN,6,7
top,NaN,NaN,Male,Blouse,Clothing,NaN,Montana,M,Olive,Spring,NaN,No,Free Shipping,No,No,NaN,PayPal,Every 3 Months
freq,NaN,NaN,2652,171,1737,NaN,96,1755,177,999,NaN,2847,675,2223,2223,NaN,677,584
mean,1950.500000,44.068462,NaN,NaN,NaN,59.764359,NaN,NaN,NaN,NaN,3.750065,NaN,NaN,NaN,NaN,25.351538,NaN,NaN
std,1125.977353,15.207589,NaN,NaN,NaN,23.685392,NaN,NaN,NaN,NaN,0.716983,NaN,NaN,NaN,NaN,14.447125,NaN,NaN
min,1.000000,18.000000,NaN,NaN,NaN,20.000000,NaN,NaN,NaN,NaN,2.500000,NaN,NaN,NaN,NaN,1.000000,NaN,NaN
25%,975.750000,31.000000,NaN,NaN,NaN,39.000000,NaN,NaN,NaN,NaN,3.100000,NaN,NaN,NaN,NaN,13.000000,NaN,NaN
50%,1950.500000,44.000000,NaN,NaN,NaN,60.000000,NaN,NaN,NaN,NaN,3.800000,NaN,NaN,NaN,NaN,25.000000,NaN,NaN
75%,2925.250000,57.000000,NaN,NaN,NaN,81.000000,NaN,NaN,NaN,NaN,4.400000,NaN,NaN,NaN,NaN,38.000000,NaN,NaN
max,3900.000000,70.000000,NaN,NaN,NaN,100.000000,NaN,NaN,NaN,NaN,5.000000,NaN,NaN,NaN,NaN,50.000000,NaN,NaN

In [7]:
df.isna().sum()

Customer ID                0
Age                        0
Gender                     0
Item Purchased             0
Category                   0
Purchase Amount (USD)      0
Location                   0
Size                       0
Color                      0
Season                     0
Review Rating             37
Subscription Status        0
Shipping Type              0
Discount Applied           0
Promo Code Used            0
Previous Purchases         0
Payment Method             0
Frequency of Purchases     0
dtype: int64

In [8]:
df['Review Rating']= df.groupby('Category')['Review Rating'].transform(lambda x: x.fillna(x.median()))

In [9]:
df.isna().sum()

Customer ID               0
Age                       0
Gender                    0
Item Purchased            0
Category                  0
Purchase Amount (USD)     0
Location                  0
Size                      0
Color                     0
Season                    0
Review Rating             0
Subscription Status       0
Shipping Type             0
Discount Applied          0
Promo Code Used           0
Previous Purchases        0
Payment Method            0
Frequency of Purchases    0
dtype: int64

In [10]:
df.columns=df.columns.str.lower()
df.columns=df.columns.str.replace(' ','_')

In [11]:
df.columns

Index(['customer_id', 'age', 'gender', 'item_purchased', 'category',
       'purchase_amount_(usd)', 'location', 'size', 'color', 'season',
       'review_rating', 'subscription_status', 'shipping_type',
       'discount_applied', 'promo_code_used', 'previous_purchases',
       'payment_method', 'frequency_of_purchases'],
      dtype='object')

In [12]:
df= df.rename(columns={'purchase_amount_(usd)':'purchase_amount'})

In [13]:
df.columns

Index(['customer_id', 'age', 'gender', 'item_purchased', 'category',
       'purchase_amount', 'location', 'size', 'color', 'season',
       'review_rating', 'subscription_status', 'shipping_type',
       'discount_applied', 'promo_code_used', 'previous_purchases',
       'payment_method', 'frequency_of_purchases'],
      dtype='object')

create column age group

In [14]:
import pandas as pd
labels = ['Young Adult','Adult','Middle aged','senior']
df['age_group']=pd.qcut(df['age'],q=4,labels= labels)

In [15]:
df[['age','age_group']].head(10)

   age    age_group
0   55  Middle aged
1   19  Young Adult
2   50  Middle aged
3   21  Young Adult
4   45  Middle aged
5   46  Middle aged
6   63       senior
7   27  Young Adult
8   26  Young Adult
9   57  Middle aged

In [16]:
#create column purchase frequency days
frequency_mapping= {
    'Fortnightly':14,
    'Weekly':7,
    'Monthly':30,
    'Quarterly':90,
    'Bi-Weekly':14,
    'Annually':365,
    'Every 3 Months': 90
}
df['purchase_frequency_days'] = df['frequency_of_purchases'].map(frequency_mapping)

In [17]:
df[['purchase_frequency_days','frequency_of_purchases']].head(10)

   purchase_frequency_days frequency_of_purchases
0                       14            Fortnightly
1                       14            Fortnightly
2                        7                 Weekly
3                        7                 Weekly
4                      365               Annually
5                        7                 Weekly
6                       90              Quarterly
7                        7                 Weekly
8                      365               Annually
9                       90              Quarterly

In [18]:
(df['discount_applied']==df['promo_code_used']).all()

np.True_

In [19]:
df=df.drop('promo_code_used',axis=1)

In [20]:
df.columns

Index(['customer_id', 'age', 'gender', 'item_purchased', 'category',
       'purchase_amount', 'location', 'size', 'color', 'season',
       'review_rating', 'subscription_status', 'shipping_type',
       'discount_applied', 'previous_purchases', 'payment_method',
       'frequency_of_purchases', 'age_group', 'purchase_frequency_days'],
      dtype='object')

In [21]:
df.columns

Index(['customer_id', 'age', 'gender', 'item_purchased', 'category',
       'purchase_amount', 'location', 'size', 'color', 'season',
       'review_rating', 'subscription_status', 'shipping_type',
       'discount_applied', 'previous_purchases', 'payment_method',
       'frequency_of_purchases', 'age_group', 'purchase_frequency_days'],
      dtype='object')

In [22]:
pip install pandas mysql-connector-python sqlalchemy

Requirement already satisfied: pandas in c:\users\humpy bandari\anaconda3\lib\site-packages (2.2.3)
Collecting mysql-connector-python
  Downloading mysql_connector_python-9.5.0-cp313-cp313-win_amd64.whl.metadata (7.7 kB)
Requirement already satisfied: sqlalchemy in c:\users\humpy bandari\anaconda3\lib\site-packages (2.0.39)
Requirement already satisfied: numpy>=1.26.0 in c:\users\humpy bandari\anaconda3\lib\site-packages (from pandas) (2.1.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\humpy bandari\anaconda3\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\humpy bandari\anaconda3\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\humpy bandari\anaconda3\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\humpy bandari\anaconda3\lib\site-packages (from sqlalchemy) (3.1.1)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\humpy bandari\anaconda3\lib\site-packages (from sqlalchemy) (4.12.2)
Requirement already satisfied: six>=1.5 in c:\users\humpy bandari\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Downloading mysql_connector_python-9.5.0-cp313-cp313-win_amd64.whl (16.5 MB)
   ---------------------------------------- 0.0/16.5 MB ? eta -:--:--
   - -------------------------------------- 0.5/16.5 MB 4.8 MB/s eta 0:00:04
   --- ------------------------------------ 1.6/16.5 MB 6.0 MB/s eta 0:00:03
   ------ --------------------------------- 2.6/16.5 MB 5.4 MB/s eta 0:00:03
   -------- ------------------------------- 3.7/16.5 MB 4.9 MB/s eta 0:00:03
   ----------- ---------------------------- 4.7/16.5 MB 4.9 MB/s eta 0:00:03
   ------------- -------------------------- 5.8/16.5 MB 4.9 MB/s eta 0:00:03
   --------------- ------------------------ 6.6/16.5 MB 4.8 MB/s eta 0:00:03
   ----------------- ---------------------- 7.3/16.5 MB 4.7 MB/s eta 0:00:02
   ------------------- -------------------- 7.9/16.5 MB 4.4 MB/s eta 0:00:02
   --------------------- ------------------ 8.9/16.5 MB 4.4 MB/s eta 0:00:02
   ---------------------- ----------------- 9.4/16.5 MB 4.3 MB/s eta 0:00:02
   ------------------------ --------------- 10.0/16.5 MB 4.2 MB/s eta 0:00:02
   -------------------------- ------------- 10.7/16.5 MB 4.1 MB/s eta 0:00:02
   --------------------------- ------------ 11.5/16.5 MB 4.1 MB/s eta 0:00:02
   ----------------------------- ---------- 12.1/16.5 MB 3.9 MB/s eta 0:00:02
   ------------------------------ --------- 12.6/16.5 MB 3.9 MB/s eta 0:00:02
   ------------------------------- -------- 13.1/16.5 MB 3.8 MB/s eta 0:00:01
   -------------------------------- ------- 13.4/16.5 MB 3.8 MB/s eta 0:00:01
   -------------------------------- ------- 13.4/16.5 MB 3.8 MB/s eta 0:00:01
   --------------------------------- ------ 13.6/16.5 MB 3.4 MB/s eta 0:00:01
   ---------------------------------- ----- 14.2/16.5 MB 3.3 MB/s eta 0:00:01
   ----------------------------------- ---- 14.7/16.5 MB 3.3 MB/s eta 0:00:01
   ------------------------------------ --- 15.2/16.5 MB 3.2 MB/s eta 0:00:01
   ------------------------------------ --- 15.2/16.5 MB 3.2 MB/s eta 0:00:01
   ------------------------------------ --- 15.2/16.5 MB 3.2 MB/s eta 0:00:01
   ------------------------------------ --- 15.2/16.5 MB 3.2 MB/s eta 0:00:01
   ------------------------------------ --- 15.2/16.5 MB 3.2 MB/s eta 0:00:01
   ------------------------------------- -- 15.5/16.5 MB 2.7 MB/s eta 0:00:01
   ------------------------------------- -- 15.5/16.5 MB 2.7 MB/s eta 0:00:01
   -------------------------------------- - 15.7/16.5 MB 2.6 MB/s eta 0:00:01
   -------------------------------------- - 15.7/16.5 MB 2.6 MB/s eta 0:00:01
   -------------------------------------- - 15.7/16.5 MB 2.6 MB/s eta 0:00:01
   -------------------------------------- - 16.0/16.5 MB 2.3 MB/s eta 0:00:01
   -------------------------------------- - 16.0/16.5 MB 2.3 MB/s eta 0:00:01
   ---------------------------------------  16.3/16.5 MB 2.2 MB/s eta 0:00:01
   ---------------------------------------  16.3/16.5 MB 2.2 MB/s eta 0:00:01
   ---------------------------------------  16.3/16.5 MB 2.2 MB/s eta 0:00:01
   ---------------------------------------  16.3/16.5 MB 2.2 MB/s eta 0:00:01
   ---------------------------------------  16.3/16.5 MB 2.2 MB/s eta 0:00:01
   ---------------------------------------- 16.5/16.5 MB 2.0 MB/s eta 0:00:00
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-9.5.0
Note: you may need to restart the kernel to use updated packages.

In [24]:
df.to_csv('customer_shopping_behavior.csv',index=False)

In [26]:
df.to_csv('customer_shopping_behavior_cleaned.csv',index=False)

In [30]:
import pandas as pd
from sqlalchemy import create_engine
df = pd.read_csv("customer_shopping_behavior_cleaned.csv")
from urllib.parse import quote_plus
password=quote_plus("Chikku@16")
engine = create_engine(
    f"mysql+mysqlconnector://root:{password}@localhost:3306/data_analysis"
)
df.to_sql(
    name="customer_shopping_behavior_s",
    con=engine,
    if_exists="replace",  # use 'append' if table exists
    index=False
)

print("Data successfully loaded into MySQL!")

Data successfully loaded into MySQL!